/*call to action formatting */

.call-to-action{

    display:flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    height:350px;
    
}


.call-to-action-container{
    display:flex;
    
    background-color: #3882f6;
    flex-basis:65%;
    height:55%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.button{
 flex:2; 
 display:flex;
 justify-content: center;
 align-items: center;

}

.call-main{
display:flex;
flex-direction: column;
    color:white;
    font-size: 36px;
    flex:4; 
    justify-content: left;
    align-items: center;

}


#call-subtext{

    color:white;
    font-size: 18px;
    margin: top 0;
    
}


/*call to action formatting --- end */


/*qoute container css*/

.qoute-container{

    display:flex;
    flex-direction: column;
    background-color:#e5e7eb;
    justify-content: center;
    align-items: center;
    height:450px;
    font-size: 36px;
    color:#1f2937;
    
}

#author{
    padding-left:400px;
    font-size: smaller;

}

/*qoute container css --- end */



/*random action container css*/

.random-info-container{

    display:flex;
background-color:white;
justify-content: center;
align-items: center;
font-size:25px;
word-spacing: 10px;

}

/*random action container css --- end*/


/*illustration css */
.illustration-container{

    display:flex;
    background-color:white;
    justify-content: center;
    align-items: top;
    font-size:25px; 
    height: 350px;
}

.illustration-inner{
display: flex;
background-color:white;
    flex-basis:50%;
    height:60%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
    
}

.main-item{
  
    height: 100%;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.item{
flex:1;
    border-color: #3882f6;
    border-style: solid;
    height:60%;
    align-self: flex-start;
    border-radius: 14px;
    flex-basis: 300px;
margin-right: 20px;
}




/*illustration css ---end*/

/*header css*/

a {
	text-decoration: none;
	margin-right: 2px;
    color: #f9f8fa;
    
}

li{
  list-style: none;
}


.header-container {
    display: flex;
    color: #f9faf8;
background-color: #1F2937;
height:60px;
margin-right:120px;
justify-content: center;
align-items:center;
padding-left: 350px;
padding-right: 350px;

  }


  .header-container .one {
    flex: 4;
    font-size:24px;
    color: #f9f8fa;
    background-color: #1F2937;
  }
  
  
  .header-container .two {
    flex: 1;
   
    font-size:18px;
    color: #e5e7eb;
    text-align: right;
    background-color: #1F2937;
    margin-top:5px;
  }
  



/*header css --- end*/



body{
    font-family: "Roboto";
}


/*Footer css*/

.footer{

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#e5e7eb;
    font-family: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
    height:100px;

}


/*Footer css - end*/