/*call to action formatting */

.call-to-action{

    display:flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    height:250px;
    
}


.call-to-action-container{
    background-color: #3882f6;
    flex-basis:65%;
    height:50%;
}

/*call to action formatting --- end */



body{
    font-family: "Roboto";
}


/*Footer css*/

.footer{

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#e5e7eb;
    font-family: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

}


/*Footer css - end*/